body {
/*	background:url("staff.png");
*/
	margin:0, auto;
	background: linear-gradient(to bottom, #63a6e3, #fc60d5);
	height:3000px;
	background-repeat: no-repeat;
}

#yeah {
	/*position:fixed;	*/

}

h1 {
/*	margin-top:50px;
*/	/*clear:right;*/
/*	text-align: center;
*/	font-style:italic;
	font-size:5em;
	word-spacing: 30px;
	color:#904dd9;
	position:fixed;
	margin-left:30%;

/*	color:black;*/
}

p {
	text-align:center;
}

#instructions {
	text-align:left;
	position:fixed;
}




#major {
	margin-left:20px;
}

#CM {
	color:white;
	background-color:#ff00e5;
}

#GM {
	color:white;
	background-color:#ff00e5;
}

#DM {
	color:white;
	background-color:#ff00e5;
}

#AM {
	color:white;
	background-color:#ff00e5;
}

#EM {
	color:white;
	background-color:#ff00e5;
}

#BM {
	color:white;
	background-color:#ff00e5;
}

#FsharpMajor {
	color:white;
	background-color:#ff00e5;
}

#G♭M {
	color:white;
	background-color:#ff00e5;
}

#D♭M {
	color:white;
	background-color:#ff00e5;
}

#A♭M {
	color:white;
	background-color:#ff00e5;
}

#E♭M {
	color:white;
	background-color:#ff00e5;
}

#B♭M {
	color:white;
	background-color:#ff00e5;
}

#FM {
	color:white;
	background-color:#ff00e5;
}

#Am {
	color:white;
	background-color:#14ccbb;
}

#Em {
	color:white;
	background-color:#14ccbb;
}

#Bm {
	color:white;
	background-color:#14ccbb;
}

#FsharpMinor {
	color:white;
	background-color:#14ccbb;
}

#CsharpMinor {
	color:white;
	background-color:#14ccbb;
}

#GsharpMinor {
	color:white;
	background-color:#14ccbb;
}

#E♭m {
	color:white;
	background-color:#14ccbb;
}

#B♭m {
	color:white;
	background-color:#14ccbb;
}

#Fm {
	color:white;
	background-color:#14ccbb;
}

#Cm {
	color:white;
	background-color:#14ccbb;
}

#Gm {
	color:white;
	background-color:#14ccbb;
}

#Dm {
	color:white;
	background-color:#14ccbb;
}

.note {
	margin-left:-100px;
	margin-top:-60px;
}


.line {
/*	margin-top:400px;
*/	/*position:fixed;*/
/*	display:inline-block;
	top:200px;
/*	margin-left:;*/

	margin-left:22%;
/*	align:center;
*/    height: 2px;
    background: #ffffff;
    width: 300px;
    font-size: 1px;
/*    margin-top:30px;
*/  }

 /* #treble {
  	margin-left:300px;
  }*/

 #one {
	margin-top:50px;
	position: fixed;

}

#two {
	margin-top:60px;
	position: fixed;
}

#three {
	margin-top:70px;
	position: fixed;

}

#four{
	margin-top:80px;
	position: fixed;

}

#five{
	margin-top:90px;
	position: fixed;

}

#six{
	margin-top:100px;
	position: fixed;

}


  #major_keys {
  	margin-left:50px;
  	position:fixed;
  	top:400px;
  	margin-bottom:100px;
  }

  #minor_keys {
  	float:top;
  	margin-left:50px;
  	position:fixed;
  	top:500px;
  	margin-bottom:100px;
  }

  #major_label {
  	margin-left:50px;
  	position:fixed;
  	top:350px;
  }

  #minor_label {
  	position:fixed;
  	margin-top:100px;
  	margin-left:50px;
  	margin-left:50px;
/*  	position:absolute;
/**/  	top:450px;
*/  }

  /*#instructions {
  	position:absolute;
  	left:100px;
  	top:400px;
  	}
  }*/



  #staff {
  	position: fixed;
    left: 100px;
    top: 150px;
*//*  	margin-top:400px;
*//*  	position:fixed;
  }

  button {
  	border: none;
  	float:right;
  	margin-top:40px;
  	margin-left:20px;
  	margin-right:20px;
  	height:30px;
  	width: 60px;
  	background-color:blue;
  	stroke:none;
  	box-shadow: none;
  }
